html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.reader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.reader-content {
  flex: 1 0 auto;
}

.reader-controls {
  position: relative;
  flex: 0 0 auto;
  background-color: #333;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reader-controls > :first-child {
  margin-left: 1rem;
}

.reader-controls > :last-child {
  margin-right: 1rem;
}

.reader-controls > * {
  padding: 1rem 0;
}

#reader-frame {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

.address-bar {
  flex: 1 0 auto;
  display: flex;
}

.address-input {
  flex: 1 0 auto;
  background-color: black;
  color: #999;
}

.address-bar form {
  display: flex;
  flex: 1 0 auto;
}

.address-input:focus {
  color: white;
}


