
/* Globals */

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.ayu {
  --bg: hsl(210, 25%, 8%);
  --fg: #c5c5c5;

  --sidebar-bg: #14191f;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #5c6773;
  --sidebar-active: #ffb454;
  --sidebar-spacer: #2d334f;

  --scrollbar: var(--sidebar-fg);

  --icons: #737480;
  --icons-hover: #b7b9cc;

  --links: #0096cf;

  --inline-code-color: #ffb454;

  --theme-popup-bg: #14191f;
  --theme-popup-border: #5c6773;
  --theme-hover: #191f26;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(226, 15%, 22%);

  --table-border-color: hsl(210, 25%, 13%);
  --table-header-bg: hsl(210, 25%, 28%);
  --table-alternate-bg: hsl(210, 25%, 11%);

  --searchbar-border-color: #848484;
  --searchbar-bg: #424242;
  --searchbar-fg: #fff;
  --searchbar-shadow-color: #d4c89f;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-li-bg: #252932;
  --search-mark-bg: #e3b171;
}

.coal {
  --bg: hsl(200, 7%, 8%);
  --fg: #98a3ad;

  --sidebar-bg: #292c2f;
  --sidebar-fg: #a1adb8;
  --sidebar-non-existant: #505254;
  --sidebar-active: #3473ad;
  --sidebar-spacer: #393939;

  --scrollbar: var(--sidebar-fg);

  --icons: #43484d;
  --icons-hover: #b3c0cc;

  --links: #2b79a2;

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: #141617;
  --theme-popup-border: #43484d;
  --theme-hover: #1f2124;

  --quote-bg: hsl(234, 21%, 18%);
  --quote-border: hsl(234, 21%, 23%);

  --table-border-color: hsl(200, 7%, 13%);
  --table-header-bg: hsl(200, 7%, 28%);
  --table-alternate-bg: hsl(200, 7%, 11%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #b7b7b7;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #98a3ad;
  --searchresults-li-bg: #2b2b2f;
  --search-mark-bg: #355c7d;
}

.light {
  --bg: hsl(0, 0%, 100%);
  --fg: hsl(0, 0%, 0%);

  --sidebar-bg: #fafafa;
  --sidebar-fg: hsl(0, 0%, 0%);
  --sidebar-non-existant: #aaaaaa;
  --sidebar-active: #1f1fff;
  --sidebar-spacer: #f4f4f4;

  --scrollbar: #8F8F8F;

  --icons: #747474;
  --icons-hover: #000000;

  --links: #20609f;

  --inline-code-color: #301900;

  --theme-popup-bg: #fafafa;
  --theme-popup-border: #cccccc;
  --theme-hover: #e6e6e6;

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --table-border-color: hsl(0, 0%, 95%);
  --table-header-bg: hsl(0, 0%, 80%);
  --table-alternate-bg: hsl(0, 0%, 97%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-li-bg: #e4f2fe;
  --search-mark-bg: #a2cff5;
}

.navy {
  --bg: hsl(226, 23%, 11%);
  --fg: #bcbdd0;

  --sidebar-bg: #282d3f;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #505274;
  --sidebar-active: #2b79a2;
  --sidebar-spacer: #2d334f;

  --scrollbar: var(--sidebar-fg);

  --icons: #737480;
  --icons-hover: #b7b9cc;

  --links: #2b79a2;

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: #161923;
  --theme-popup-border: #737480;
  --theme-hover: #282e40;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(226, 15%, 22%);

  --table-border-color: hsl(226, 23%, 16%);
  --table-header-bg: hsl(226, 23%, 31%);
  --table-alternate-bg: hsl(226, 23%, 14%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #aeaec6;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #5f5f71;
  --searchresults-border-color: #5c5c68;
  --searchresults-li-bg: #242430;
  --search-mark-bg: #a2cff5;
}

.rust {
  --bg: hsl(60, 9%, 87%);
  --fg: #262625;

  --sidebar-bg: #3b2e2a;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #505254;
  --sidebar-active: #e69f67;
  --sidebar-spacer: #45373a;

  --scrollbar: var(--sidebar-fg);

  --icons: #737480;
  --icons-hover: #262625;

  --links: #2b79a2;

  --inline-code-color: #6e6b5e;

  --theme-popup-bg: #e1e1db;
  --theme-popup-border: #b38f6b;
  --theme-hover: #99908a;

  --quote-bg: hsl(60, 5%, 75%);
  --quote-border: hsl(60, 5%, 70%);

  --table-border-color: hsl(60, 9%, 82%);
  --table-header-bg: #b3a497;
  --table-alternate-bg: hsl(60, 9%, 84%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-li-bg: #dec2a2;
  --search-mark-bg: #e69f67;
}

@media (prefers-color-scheme: dark) {
  .light.no-js {
      --bg: hsl(200, 7%, 8%);
      --fg: #98a3ad;

      --sidebar-bg: #292c2f;
      --sidebar-fg: #a1adb8;
      --sidebar-non-existant: #505254;
      --sidebar-active: #3473ad;
      --sidebar-spacer: #393939;

      --scrollbar: var(--sidebar-fg);

      --icons: #43484d;
      --icons-hover: #b3c0cc;

      --links: #2b79a2;

      --inline-code-color: #c5c8c6;

      --theme-popup-bg: #141617;
      --theme-popup-border: #43484d;
      --theme-hover: #1f2124;

      --quote-bg: hsl(234, 21%, 18%);
      --quote-border: hsl(234, 21%, 23%);

      --table-border-color: hsl(200, 7%, 13%);
      --table-header-bg: hsl(200, 7%, 28%);
      --table-alternate-bg: hsl(200, 7%, 11%);

      --searchbar-border-color: #aaa;
      --searchbar-bg: #b7b7b7;
      --searchbar-fg: #000;
      --searchbar-shadow-color: #aaa;
      --searchresults-header-fg: #666;
      --searchresults-border-color: #98a3ad;
      --searchresults-li-bg: #2b2b2f;
      --search-mark-bg: #355c7d;
  }
}
/* Base styles and content styles */

@import 'variables.css';

:root {
    /* Browser default font-size is 16px, this way 1 rem = 10px */
    font-size: 62.5%;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    margin: 0;
    font-size: 1.6rem;
    overflow-x: hidden;
}

code {
    font-family: var(--mono-font) !important;
    font-size: var(--code-font-size);
}

/* make long words/inline code not x overflow */
main {
    overflow-wrap: break-word;
}

/* make wide tables scroll if they overflow */
.table-wrapper {
    overflow-x: auto;
}

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

.left { float: left; }
.right { float: right; }
.boring { opacity: 0.6; }
.hide-boring .boring { display: none; }
.hidden { display: none !important; }

h2, h3 { margin-top: 2.5em; }
h4, h5 { margin-top: 2em; }

.header + .header h3,
.header + .header h4,
.header + .header h5 {
    margin-top: 1em;
}

h1:target::before,
h2:target::before,
h3:target::before,
h4:target::before,
h5:target::before,
h6:target::before {
    display: inline-block;
    content: "Â»";
    margin-left: -30px;
    width: 30px;
}

/* This is broken on Safari as of version 14, but is fixed
   in Safari Technology Preview 117 which I think will be Safari 14.2.
   https://bugs.webkit.org/show_bug.cgi?id=218076
*/
:target {
    scroll-margin-top: calc(var(--menu-bar-height) + 0.5em);
}

.page {
    outline: 0;
    padding: 0 var(--page-padding);
    margin-top: calc(0px - var(--menu-bar-height)); /* Compensate for the #menu-bar-hover-placeholder */
}
.page-wrapper {
    box-sizing: border-box;
}
.js:not(.sidebar-resizing) .page-wrapper {
    transition: margin-left 0.3s ease, transform 0.3s ease; /* Animation: slide away */
}

.content {
    overflow-y: auto;
    padding: 0 5px 50px 5px;
}
.content main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}
.content p { line-height: 1.45em; }
.content ol { line-height: 1.45em; }
.content ul { line-height: 1.45em; }
.content a { text-decoration: none; }
.content a:hover { text-decoration: underline; }
.content img, .content video { max-width: 100%; }
.content .header:link,
.content .header:visited {
    color: var(--fg);
}
.content .header:link,
.content .header:visited:hover {
    text-decoration: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}
table td {
    padding: 3px 20px;
    border: 1px var(--table-border-color) solid;
}
table thead {
    background: var(--table-header-bg);
}
table thead td {
    font-weight: 700;
    border: none;
}
table thead th {
    padding: 3px 20px;
}
table thead tr {
    border: 1px var(--table-header-bg) solid;
}
/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
    background: var(--table-alternate-bg);
}


blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-top: .1em solid var(--quote-border);
    border-bottom: .1em solid var(--quote-border);
}

kbd {
    background-color: var(--table-border-color);
    border-radius: 4px;
    border: solid 1px var(--theme-popup-border);
    box-shadow: inset 0 -1px 0 var(--theme-hover);
    display: inline-block;
    font-size: var(--code-font-size);
    font-family: var(--mono-font);
    line-height: 10px;
    padding: 4px 5px;
    vertical-align: middle;
}

:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}
.footnote-definition {
    font-size: 0.9em;
    margin: 0.5em 0;
}
.footnote-definition p {
    display: inline;
}

.tooltiptext {
    position: absolute;
    visibility: hidden;
    color: #fff;
    background-color: #333;
    transform: translateX(-50%); /* Center by moving tooltip 50% of its width left */
    left: -8px; /* Half of the width of the icon */
    top: -35px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    margin: 5px;
    z-index: 1000;
}
.tooltipped .tooltiptext {
    visibility: visible;
}

.chapter li.part-title {
    color: var(--sidebar-fg);
    margin: 5px 0px;
    font-weight: bold;
}

.result-no-output {
    font-style: italic;
}
